*{
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body{
    background-color: #F5F4EF;
    font-family: Arial, sans-serif;
    font-weight: normal;
}
a {
    color: #272523;
    text-decoration: none;
}
li{
    list-style: none;
}
.container {
    max-width: 1200px;
    padding: 0 7%;
    margin: 0 auto;
}
.container_header{
    padding: 0 2%;
}

/* ヘッダー */
header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-family: "bodoni-moda-variable",sans-serif;
    font-variation-settings: 'wght' 400, 'opsz' 11;
    font-style: italic;

}
header > .container_header {
    height: 50px;
    display: flex;
    align-items: center;
    max-width: none;
}
.nav_header {
    margin: 0 0 0 auto;
}
.list_nav_header {
    display: flex;
    align-items: center;
    margin: 0 -15px;
}
.list_nav_header > li {
    padding: 0 15px;
}

/* ヘッダーホバー */
.nav_header a {
    position: relative;
}

/* ホバー時にアンダーラインを表示 */
.nav_header a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #F7E954;
    transition: width 0.3s ease;
}

/* ホバー時にアンダーラインが左から右へ広がる */
.nav_header a:hover::after {
    width: 100%;
}


/* ロゴ */
.area_logo_header .logo {
    display: block;
}
.area_logo_header img {
    height: 60px;
    vertical-align: bottom;
}

/* トップビュー */
.area_top_view {
    background: url(img/fv.jpg) no-repeat bottom center;
    background-size: cover;
    font-family: "bodoni-moda-variable", sans-serif;
    font-variation-settings: "opsz" 11, "wght" 400;
    font-style: italic;
}
.area_top_view > .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    line-height: 0.85;
    color: #F7E954;
}
.area_top_view .ttl {
    position: relative;
    font-size: 200px;
    margin-bottom: 30px;
}
.area_top_view .sub_ttl {
    font-size: 65px;
}
@media screen and (max-width: 760px) {
    .area_top_view .ttl {
        font-size: 150px;
    }
    .area_top_view .sub_ttl {
        font-size: 48.75px;
    }
}
@media screen and (max-width: 500px) {
    .area_top_view .ttl {
        font-size: 120px;
        margin-bottom: 30px;
        letter-spacing: 0.1em;
    }
    .area_top_view .sub_ttl {
        font-size: 41px;
        letter-spacing: -0.1em;
    }
}

/* エリア_ホーム */
[class*="area_home"] {
    padding: 80px 0 120px;
}
/* タイトル */
[class*="main_ttl"] {
    font-family: "bodoni-moda-variable", sans-serif;
    font-variation-settings: "opsz" 11, "wght" 600;
    font-style: italic;
    font-size: 60px;
    color: #272523;
    margin-bottom: 30px;
}

/* ABOUT */
.area_home_about{
    margin-top: 50px;
}

.about_img img{
    height: 444px;
    width: 424px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.layout_2{
    display: flex;
    align-items: center;
}
.text_home{
    margin-left: 70px;
}
.about_text .ttl{
    font-size: 25px;
}
.about_text .description{
    margin: 50px 0;
}

/* ボタン */
.btnarea{
    text-align: right;
}
.btn {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    font-size: 16px;
    border: 1px solid #272523;
    overflow: hidden;
    cursor: pointer;
    border-radius: 25px;
    transition: color 0.4s;
    z-index: 1;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #F7E954;
    transition: left 0.4s;
    z-index: 0;
    border-radius: 25px;
}

.btn:hover::before {
    left: 0;
}

.btn:hover {
    color: #272523;
}

.btn_text {
    position: relative;
    z-index: 1 ;
    font-family: "bodoni-moda-variable",sans-serif;
    font-variation-settings: 'wght' 400, 'opsz' 11;
    font-style: italic;

}

@media screen and (max-width: 900px) {
    .layout_2{
        display: block;
    }
    .about_img{
        text-align: center;
        margin-bottom: 50px;
    }
    .text_home{
        margin-left: 0;
    }
}

@media screen and (max-width: 500px) {
    .about_img img{
        height: 300px;
        width: 284px;
        }
}

/* SKELLS */
.area_home_skells{
    margin: 0 calc(50% - 50vw);
    padding: 80px calc(50vw - 50%);
    background-color: #93B3B5;
}
.area_home_skells .ttl{
    color: white;
}
[class*="design_coding"] {
    color: white;

}
.design_coding_01{
    padding-right: 65px;
}
.design_coding_02{
    padding-left: 65px;
}
.design_coding_ttl{
    font-size: 20px;
}
.design_coding_text{
    margin: 30px 0;
}
.skells_btn{
    display: flex;
}
.skells_btn_item{
    padding: 8px 25px;
    margin-right: 15px;
    border-radius: 25px;
    background-color: #F7E954;
    color: #272523;
}
@media screen and (max-width: 970px) {
    .design_coding_01{
        padding-right: 20px;
    }
    .design_coding_02{
        padding-left: 20px;
    }
}
@media screen and (max-width: 900px) {
    .design_coding_01{
        padding-right: 0px;
    }
    .design_coding_02{
        padding-left: 0px;
        margin-top: 50px;
    }
}
@media screen and (max-width: 405px) {
    .skells_btn_item{
        margin-right: 5px;
    }
}

/* achievements */
.achievements_ttl{
    font-weight: bold;
    font-size: 20px;
}
.achievements_ttl_1{
    padding-bottom: 7px;
}
.achievements_main{
    margin: 30px 0;
}
.area_home_achievements hr {
    margin-top: 70px;
}

.achievements-ttl span {
    display: inline;
}

@media screen and (max-width: 540px) {
    .achievements-ttl .line1 {
        display: block;
    }
}

/* wroks */
.area_home_works{
    padding-top: 0;
}

.layout_3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.works_img{
    margin: 0 20px 70px 20px;
}
.works_img img{
    height: 214px;
    width: 343px;
    margin-bottom: 35px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, opacity 0.3s ease; /* トランジションを追加 */
}
.works_img:hover img {
    transform: scale(1.05) translateY(-5px); /* 画像を少し拡大しつつ上に移動 */
    opacity: 0.9; /* 透明度を少し下げる */
}
@media screen and (max-width: 760px) {
    .works_img_last{
        margin-bottom: 0;
    }
}
@media screen and (max-width: 405px) {
    .works_img img{
        height: 200px;
        width: 318px;
        margin-bottom: 30px;
    }
}

/* フッター */
.footer_flex{
    display: flex;
    align-items: center;
    max-width: none;
    margin-top: 70px;
}
.list_nav_footer{
    display: flex;
    font-family: "bodoni-moda-variable",sans-serif;
    font-variation-settings: 'wght' 400, 'opsz' 11;
    font-style: italic;
}
.list_nav_footer > li {
    padding: 0 15px;
}
.contact_mail{
    margin: 0 0 0 auto;
}
.btn_footer{
    padding: 10px 80px;
}
.copyright{
    text-align: center;
    margin: 30px 0 10px 0;
}
@media screen and (max-width: 760px) {
    .footer_flex{
        display: block;
    }
    .contact_mail{
        margin-top: 25px;
    }
}
@media screen and (max-width: 405px) {
    .contact_mail p{
        font-size: 14px;
    }
    .btn_footer{
        padding: 10px 50px;
    }
}

/* プロフィール */
.area_home_profile{
    margin-top: 125px;
}
.area_home_profile hr{
    margin-top: 70px;
}
.area_home_profile hr{
    width: 100%;
}
@media screen and (max-width: 425px) {
    .ttl_long{
        font-size: 50px;
    }
}

/* 経歴 */
.area_home_biofraphy{
    padding-top: 0;
}
.timeline {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem 2rem;
    margin: 0 auto;
}
.entry {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.date {
    white-space: nowrap;
    flex-shrink: 0;
    margin-right: 1em;
}
.content {
    color: #333;
}
  /* レスポンシブ：画面が狭いときは1列にする */
@media screen and (max-width: 1000px) {
    .timeline {
        grid-template-columns: 1fr;
    }
}

/* 強み */
.area_home_strengths{
    background-color: #93B3B5;
}
.area_home_strengths .ttl{
    color: #Ffffff;
}
.strengths_sub_ttl{
    margin: 20px auto;
    display: flex;
    align-items: center;
}
.circle_strengths{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63px;
    height: 63px;
    background-color: #F7E954;
    border-radius: 50%;
    margin-right: 10px;
    color: black;
    font-size: 40px;
    font-family: 'LTC Bodoni 175', serif;
    font-style: italic;
}
.sub_strengths{
    font-weight: bold;
    font-size: 21px;
}
.area_home_strengths p{
    color: #ffffff;
}
.strengths_hr{
    margin: 40px 0;
    border: none;
    border-top: 1px solid #707070;
}

/* worksタイトル文字 */
@media screen and (max-width: 520px) {
    .ttl_works_size{
        font-size: 50px;
    }
}
@media screen and (max-width: 425px) {
    .ttl_works_size{
        font-size: 40px;
    }
}

/* worksトップ画像 */
.area_home_works_portfolio{
    margin-top: 125px;
}
.works_mock-up{
    text-align: center;
    margin-top: 50px;
}
.img_works_mock-up{
    width: 898px;
    height: 479px;
}
@media screen and (max-width: 900px) {
    .img_works_mock-up{
        width: 600px;
        height: 316px;
    }
}
@media screen and (max-width: 630px) {
    .img_works_mock-up{
        width: 450px;
        height: 240px;
    }
}
@media screen and (max-width: 520px) {
    .area_home_works_portfolio{
        margin-top: 70px;
    }
}
@media screen and (max-width: 495px) {
    .img_works_mock-up{
        width: 400px;
        height: 211px;
    }
}
@media screen and (max-width: 440px) {
    .img_works_mock-up{
        width: 330px;
        height: 182px;
    }
}


/* 概要 */
.project_overview {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 70px 0;
}
.overview_item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}
.overview_title {
    width: 120px;
    flex-shrink: 0;
    margin-right: 80px;
}
.overview_text {
    flex: 1;
    margin: 0;
}
@media screen and (max-width: 630px) {
    .overview_item{
        display: block;
    }
    .overview_title{
        margin-bottom: 10px;
    }
}

/* works画像 */
.img_flex{
    padding: 0 7%;
    display: flex;
}
.site-sp_mg{
    margin-left: 50px;
}
@media screen and (max-width: 650px) {
    .img_flex{
        display: block;
    }
    .site-sp_mg{
        margin-left: 0;
        margin-top: 50px;
    }
    .img_flex img {
        display: block;
    }
}


/* ポートフォリオサイト画像 */
.Portfolio_site-pc{
    width: 847px;
    height: 2039px;
    border: 0.6px solid #707070;
}
.Portfolio_site-sp{
    width: 226px;
    height: 2832px;
    border: 0.6px solid #707070;

}
@media screen and (max-width: 1280px) {
    .Portfolio_site-pc{
        width: 800px;
        height: 1925px;
    }
}
@media screen and (max-width: 1180px) {
    .Portfolio_site-pc{
        width: 600px;
        height: 1443px;
    }
    .Portfolio_site-sp{
        width: 190px;
        height: 2380px;
    }
}
@media screen and (max-width: 940px) {
    .Portfolio_site-pc{
        width: 400px;
        height: 961px;
    }
    .Portfolio_site-sp{
        width: 150px;
        height: 1878px;
    }
}
@media screen and (max-width: 470px) {
    .Portfolio_site-pc{
        width: 320px;
        height: 768px;
    }
}

/* 音乃葉サイト画像 */
.otonoha_site-pc{
    width: 847px;
    height: 2638px;
}
.otonoha_site-sp{
    width: 226px;
    height: 2210px;
}
@media screen and (max-width: 1280px) {
    .otonoha_site-pc{
        width: 800px;
        height: 2491px;
    }
}
@media screen and (max-width: 1180px) {
    .otonoha_site-pc{
        width: 600px;
        height: 1868px;
    }
    .otonoha_site-sp{
        width: 190px;
        height: 1857px;
    }
}
@media screen and (max-width: 940px) {
    .otonoha_site-pc{
        width: 400px;
        height: 1245px;
    }
    .otonoha_site-sp{
        width: 150px;
        height: 1466px;
    }
}
@media screen and (max-width: 470px) {
    .otonoha_site-pc{
        width: 320px;
        height: 996px;
    }
}

/* バレンタインバナー */
.works_banner_valentine{
    width: 436px;
    height: 436px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 520px) {
    .works_banner_valentine{
        width: 350px;
        height: 350px;
    }
}
@media screen and (max-width: 410px) {
    .works_banner_valentine{
        width: 300px;
        height: 300px;
    }
}

/* ボディクリームバナー */
.works_banner_cream{
    width: 523px;
    height: 436px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 630px) {
    .works_banner_cream{
        width: 450px;
        height: 375px;
    }
}
@media screen and (max-width: 520px) {
    .works_banner_cream{
        width: 300px;
        height: 249px;
    }
}

/* キャンプサイト画像 */
.camp-fum_site-pc{
    width: 847px;
    height: 3136px;
}
.camp-fum_site-sp{
    width: 228px;
    height: 3985px;
}
@media screen and (max-width: 1280px) {
    .camp-fum_site-pc{
        width: 800px;
        height: 2961px;
    }
}
@media screen and (max-width: 1180px) {
    .camp-fum_site-pc{
        width: 600px;
        height: 2220px;
    }
    .camp-fum_site-sp{
        width: 190px;
        height: 3320px;
    }
}
@media screen and (max-width: 940px) {
    .camp-fum_site-pc{
        width: 400px;
        height: 1479px;
    }
    .camp-fum_site-sp{
        width: 150px;
        height: 2621px;
    }
}
@media screen and (max-width: 470px) {
    .camp-fum_site-pc{
        width: 320px;
        height: 1183px;
    }
}

/* 動物病院 */
.AnimalHospital_site-pc{
    width: 847px;
    height: 2426px;
}
.AnimalHospital_site-sp{
    width: 226px;
    height: 3058px;
}
@media screen and (max-width: 1280px) {
    .AnimalHospital_site-pc{
        width: 800px;
        height: 2291px;
    }
}
@media screen and (max-width: 1180px) {
    .AnimalHospital_site-pc{
        width: 600px;
        height: 1718px;
    }
    .AnimalHospital_site-sp{
        width: 190px;
        height: 2548px;
    }
}
@media screen and (max-width: 940px) {
    .AnimalHospital_site-pc{
        width: 400px;
        height: 1145px;
    }
    .PortfoAnimalHospital_site-sp{
        width: 150px;
        height: 2011px;
    }
}
@media screen and (max-width: 470px) {
    .AnimalHospital_site-pc{
        width: 320px;
        height: 916px;
    }
}


/* FVのアニメーション */
@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* PORTFOLIOのタイトルに特化したスタイル */
.portfolio-ttl span {
    display: inline-block; /* インラインブロックに設定 */
    letter-spacing: -50px; /* 文字間隔を狭くする */
    line-height: 0.8; /* 行の高さを調整して縦のスペースを縮める */
    transform: scaleX(0.9); /* 横幅を90%に縮める */
}


.sub_ttl {
    letter-spacing: -8px; /* サブタイトルの文字間隔も調整 */
}

/* 適用するクラス */
.fade-up {
    opacity: 0;
    animation: fadeUp 1s ease-out forwards;
}

/* 文字ごとに遅延させると自然な動きに */
.fade-delay-1 { animation-delay: 0.1s; }
.fade-delay-2 { animation-delay: 0.2s; }
.fade-delay-3 { animation-delay: 0.3s; }
.fade-delay-4 { animation-delay: 0.4s; }
.fade-delay-5 { animation-delay: 0.5s; }
.fade-delay-6 { animation-delay: 0.6s; }
.fade-delay-7 { animation-delay: 0.7s; }
.fade-delay-8 { animation-delay: 0.8s; }
.fade-delay-9 { animation-delay: 0.9s; }
.fade-delay-10 { animation-delay: 1.0s; }
.fade-delay-11 { animation-delay: 1.1s; }
.fade-delay-12 { animation-delay: 1.2s; }
.fade-delay-13 { animation-delay: 1.3s; }
.fade-delay-14 { animation-delay: 1.4s; }
.fade-delay-15 { animation-delay: 1.5s; }
.fade-delay-16 { animation-delay: 1.6s; }
.fade-delay-17 { animation-delay: 1.7s; }
.fade-delay-18 { animation-delay: 1.8s; }
.fade-delay-19 { animation-delay: 1.9s; }
.fade-delay-20 { animation-delay: 2.0s; }
.fade-delay-21 { animation-delay: 2.1s; }
.fade-delay-22 { animation-delay: 2.2s; }

/* ttlのアニメーション */
@keyframes fadeIn {
    0% {
        opacity: 0; /* 初めは透明 */
        transform: translateY(20px); /* 下からふんわりと出てくる */
    }
    100% {
        opacity: 1; /* 完全に表示 */
        transform: translateY(0); /* 元の位置に戻る */
    }
}

/* アニメーションを適用するクラス */
.fade-in {
    opacity: 0; /* 初めは透明 */
    animation: fadeIn 1s ease forwards; /* アニメーション時間を1秒に設定 */
    animation-delay: 0.2s; /* 0.2秒の遅延を追加 */
}

/* 初期状態を隠す */
.ttl {
    opacity: 0; /* 初期状態を透明に */
}
